@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes appear-down {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear-up {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes appear-left {
  from {
    transform: translateX(10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appear-right {
  from {
    transform: translateX(-10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes appear-angle-left {
  from {
    transform: translateX(9.2px) translateY(-3.8px);
    opacity: 0;
  }
  to {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}
@keyframes appear-angle-right {
  from {
    transform: translateX(-9.2px) translateY(3.8px);
    opacity: 0;
  }
  to {
    transform: translateX(0) translateY(0);
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0.8;
  }
  25% {
    opacity: 1;
  }
  50% {
    opacity: 0.8;
  }
  75% {
    opacity: 0.6;
  }
  100% {
    opacity: 0.8;
  }
}

@keyframes float-X-5 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes float-X-10 {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-10px);
  }
  50% {
    transform: translateX(0);
  }
  75% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0);
  }
}

@keyframes float-Y-5 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float-Y-10 {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(0);
  }
  75% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes float-angle-5 {
  /* DEG 22,5 -> COS 0.92387 -> SIN 0.38268 */
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(4.6px) translateY(-1.9px);
  }
  50% {
    transform: translateX(0) translateY(0);
  }
  75% {
    transform: translateX(-4.6px) translateY(1.9px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes float-angle-10 {
  /* DEG 22,5 -> COS 0.92387 -> SIN 0.38268  */
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(9.2px) translateY(-3.8px);
  }
  50% {
    transform: translateX(0) translateY(0);
  }
  75% {
    transform: translateX(-9.2px) translateY(3.8px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}

@keyframes dashed-300 {
  0% {
    stroke-dasharray: 300;
    stroke-dashoffset: -300;
  }
  100% {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
  }
}

@keyframes dashed-wiggle {
  0% {
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
  }
  25% {
    stroke-dasharray: 300;
    stroke-dashoffset: 300;
  }
  50% {
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
  }
  75% {
    stroke-dasharray: 300;
    stroke-dashoffset: -300;
  }
  100% {
    stroke-dasharray: 300;
    stroke-dashoffset: 0;
  }
}
